lspci -k    # to list pci hardwares

lsusb -v    # to list usb drivers

dmesg | grep firmware   # to list firmware messages

ip    # show / manipulate routing, devices, policy routing and tunnels

ip link   # list all interfaces
ip a      # list all interfaces

ip link show wlan0  # show specific interface

ip link set dev wlan0 up    # activate a interface
ip link set dev wlan0 down  # deactivate a interface

iw dev    # list all wifi devices

iw dev wlan0 info   # show interface status

iw dev wlan0 scan | grep SSID   # scan wifi network (su)
iw wlan0 scan | grep SSI        # scan wifi network (su)

iw wlan0 link   # check connection status

iw dev wlan0 connect "your_essid"   # connect to an access point - no encryption

ifdown wlan0  # shutdown interface wlan0

ifup wlan0    # start interface wla0

wpa_passphrase my-ssid password   # create password to use into /etc/network/interface or /etc/wpa_supplicant.conf

wpa_passphrase ssid > file_out    # create password into file_out
password

# /etc/network/interface example
# auto wlan0
# iface wlan0 inet dhcp
# 	wpa-ssid Vivo WiFi
# 	wpa-psk as38492039asfkjalskfdj348390adflakjd

# /etc/wpa_supplicant.conf example
# network={
#   ssid="blackMOREOps"
#   psk=42e1cbd0f7fbf3824393920ea41ad6cc8528957a80a404b24b5e4461a31c820c
# }

wpa_supplicant -B -D wext -i wlan0 -c /etc/wpa_supplicant.conf  # connect networking using supplicant
	# -B means run wpa_supplicant in the background
	# -D specifies the wireless driver. wext is the generic driver
	# -c specifies the path for the configuration file

dhclient wlan0  # get an IP address by DHCP

ifconig   # list interfaces

ifconfig wlan0        # show ip address

ip addr show wlan0    # show ip address

ip route show     # show routes

nmcli d wifi list   # list wifi hotspots

nmcli c   # list saved connections

nmcli d disconnect wlan0  # disconnect device wlan0

nmcli d connect wlan0   # connect device wlan0

nmcli c down XT1058\ dmg  # disconnect from hotspot, system will connect to the next saved disponiable

nmcli c up XT1058\ dmg  # connect to hotspot, not need disconnect from previows
